<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}!</h1> 


<ul>

<li><a href = "/post_photo_home"> Upload an image </a> </br></li>
<li><a href = "/add_friend_group_home"> Manage friend group </a> </br></li>
<li><a href = "/follow_home"> Manage follows</a> </br></li>
<li><a href = "/follower_home"> Manage followers </a> </br></li>
<li><a href="/logout">Logout</a>

</ul>
<table>
	{% for filePath in photos%} 
	<tr>
	<td>{{filePath.firstName}} {{filePath.lastName}}	</td>
	</tr>
	<tr>
	<td>{{filePath.postingDate}} </td>
	</tr>
	<tr>
	<td><img src={{url_for('static', filename= filePath.filePath)}} alt={{filePath.filePath}} width="400px" height="300px"></td>
	</tr>
	<tr>
	<td>{{filePath.caption}} </td>
	</tr>
	<tr>
	<td>
	Tagged:
	</td>
	{% for tag in filePath.tag %}
	<td>
	{{tag}}
	</td>
	{% endfor %}
	</tr>
	<tr>
	<td>
	Reactions:
	</td>
	{% for react in filePath.react %}
	<td>
	{{react}}
	</td>
	{% endfor %}
	</tr>
	<td>
		<br></br>
	</td>
	{% endfor %} 
	</select> <br>
</table>
<a href="/block">Block A Person</a>
<br></br>
<a href="/delete_account">Deactivate Account</a>

</body>


</html>
