<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}!</h1> 


	{% for filePath in photos%} 
	<img src={{filePath.filePath}} alt={{filePath.filePath}} width="400px" height="300px">
	{% endfor %} 
	</select> <br>

<ul>

<li><a href = "/post_photo_home"> Upload an image </a> </br></li>
<li><a href = "/add_friend_group_home"> Manage friend group </a> </br></li>
<li><a href = "/follow_home"> Manage follows</a> </br></li>
<li><a href = "/follower_home"> Manage followers </a> </br></li>
<li><a href="/logout">Logout</a>

</ul>

</body>


</html>

